*{padding:0px;
  margin:0px;
  box-sizing:border-box;
}
:root{
  //neutral//
   --neutral-0:hsl(0,0%,100%);
   --neutral-300:hsl(0,0%,);
   --neutral-500:;
   --neutral-700:;
   --neutral-900:;
  //ORANGE//
}