*{padding:0px;
  margin:0px;
  box-sizing:border-box;
}
:root{
  //neutral//
   --neutral-0:hsl(0,0%,100%);
   --neutral-300:hsl(252,6%,83%);
   --neutral-500:hsl(245,15%,58%);
   --neutral-700:hsl(245,19%,35%);
   --neutral-900:hsl(255,45%,11%);
  //ORANGE//
  --orange-500:hsl(7,88%,67%);
  --orange-700:hsl(7,71%,60%);
  //gradient//
   --gradient-text-start:hsl(7,88%,67%);
   --gradient-text-end:hsl(0,0%,100%);
}
img{
  max-width:100%;
  display:block;
}
.div-form{align-items:center
;
text-align:center;
}
.div-form input{

border-radius:5px;
border-inline-color:white;
width:50%;
height:35px;
}
#form-ticket label{
  color:--neutral-300;
}