img{
  width:280px;
  height:280px;
  border-radius:15px;
  margin-top:25px;
}
body{
  background-color:rgb(214,226,240);
}
#div2{
  background-color:white;
  border-radius:15px;
  justify-items:center;
  align-items:center;
}
#h1{
  
}
#p1{
  
}